<%= form_tag get_digest_JSON_from_URL_path, class:'form form-horizontal', remote:true do %>
    <div class="form-group">
      <label>Digest JSON Source URL:</label>
      <%= text_field_tag :json_url, nil, :class => 'form-control' %>
    </div>

    <%= submit_tag 'Fetch JSON', :class => 'btn btn-primary' %>

<% end %>