<%= form_tag get_message_JSON_from_URL_path, class:'form form-horizontal', remote:true do %>
    <div class="form-group">
      <%= text_field_tag :json_url, nil, :class => 'form-control' %>
    </div>

    <%= submit_tag 'Fetch message JSON from URL', :class => 'btn btn-primary' %>

<% end %>