<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs visible-md visible-lg">
      <li class="active"><a href="#">Approvals <span class="badge">42</span></a></li>
      <li><a href="#">Messages <span class="badge">7</span></a></li>
    </ul>
    <div class="hidden-md hidden-lg">
      <button type="button" class="btn btn-default"><< Back to list</button>&nbsp;&nbsp;<span class="badge">49</span>
    </div>
  </div>
</div><br/>


<div class="row">
<div class="col-md-8">

  <div class="table-responsive visible-md visible-lg">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>Type</th>
        <th>Title</th>
        <th>From</th>
        <th>$ Amt</th>
        <th>Received<span class="glyphicon glyphicon-sort-by-attributes-alt pull-right"></span></th>
        <th>Originated</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>AFE</td>
        <td>AX 14-09 Budget</td>
        <td>B. Cosby</td>
        <td class="text-right">$13,976.00</td>
        <td class="text-right">6-2-14</td>
        <td class="text-right">5-28-14</td>
      </tr>
      <tr class="active">
        <td>Requisition</td>
        <td>Software Licenses</td>
        <td>T. Hardy</td>
        <td class="text-right">$20,450.00</td>
        <td class="text-right">6-2-14</td>
        <td class="text-right">6-1-14</td>
      </tr>
      <tr>
        <td>Requisition</td>
        <td>Fleet repair</td>
        <td>T. Harris</td>
        <td class="text-right">$76,760.34</td>
        <td class="text-right">6-2-14</td>
        <td class="text-right">6-2-14</td>
      </tr>
      <tr>
        <td>AFE</td>
        <td>AX 14-17 Admendment</td>
        <td>B. Cosby</td>
        <td class="text-right">N/A</td>
        <td class="text-right">6-2-14</td>
        <td class="text-right">5-30-14</td>
      </tr>
      <tr>
        <td>Requisition</td>
        <td>Rosharon B124</td>
        <td>N. Kotska</td>
        <td class="text-right">$1,302.00</td>
        <td class="text-right">6-1-14</td>
        <td class="text-right">5-30-14</td>
      </tr>
      <tr>
        <td>Emp Expense</td>
        <td>Midland Sales Trip</td>
        <td>B. Cosby</td>
        <td class="text-right">$75.50</td>
        <td class="text-right">6-1-14</td>
        <td class="text-right">5-31-14</td>
      </tr>
      <tr>
        <td>Requisition</td>
        <td>Rosharon B121</td>
        <td>J. Manziel</td>
        <td class="text-right">$322.76</td>
        <td class="text-right">5-31-14</td>
        <td class="text-right">5-27-14</td>
      </tr>
      <tr>
        <td>Requisition</td>
        <td>Project Spearmint</td>
        <td>S. Smothers</td>
        <td class="text-right">N/A</td>
        <td class="text-right">5-31-14</td>
        <td class="text-right">5-27-14</td>
      </tr>
      </tbody>
    </table>
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>



</div>
<div class="col-md-4">

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Summary Info
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <table class="table table-bordered">
            <tr class="active">
              <td>Requisition</td>
              <td>T. Hardy</td>
              <td class="text-right">6-2-14</td>
            </tr>
            <tr class="active">
              <td>Software Licenses</td>
              <td class="text-right">$20,450.00</td>
              <td class="text-right">6-1-14</td>
            </tr>
          </table>
          The new Dallas office needs complete suite of MS Office and Citrix licenese.  322 employees currently.  Bundle of 450 licenses needed.  The company volume discount of 10% has been applied to this price.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Supporting Links & Docs
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="#">AX Purchase Order: Job 14-938</a></li>
            <li><a href="#">Vendor Contract</a></li>
            <li><a href="#">License Agreement</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <table style="margin:0px;width:100%;padding:0px;">
              <tr>
                <td>Flow History<td>
                <td class="text-right">
                  <div class="progress pull-right" style="width:100px;margin:0px;">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">2/5
                    </div>
                </td>
              </tr>
            </table>
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table table-bordered">
            <tr>
              <td>5</td>
              <td>T. Hall</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>4</td>
              <td>J. Svoboda</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <td>3</td>
              <td>M. Giles</td>
              <td>Pending</td>
              <td></td>
            </tr>
            <tr class="success">
              <td>2</td>
              <td>C. Whitaker</td>
              <td><span class="glyphicon glyphicon-ok pull-right"></span></td>
              <td class="text-right">6-2-2014</td>
            </tr>
            <tr class="success">
              <td>1</td>
              <td>P. Perry</td>
              <td><span class="glyphicon glyphicon-ok pull-right"></span></td>
              <td class="text-right">6-1-2014</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-success btn-lg btn-block">Approve</button>
  <button type="button" class="btn btn-danger btn-lg btn-block">Reject</button>
  <button type="button" class="btn btn-default btn-lg btn-block">Redirect</button>



</div>
</div>